.categories-collapsible-container {
    min-height: calc(var(--primary-hight) * 2);
    width: 100%;
    align-items: center;
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size-large);
    color: var(--primary-font-color);
    font-weight: var(--primary-font-weight-normal);
    box-sizing: border-box;
    cursor: pointer;
}

.categories-collapsible-wrapper {
    display: flex;
    width: 100%;
    min-height: calc(var(--primary-hight) * 2);
    border-bottom: var(--primary-line);
}

.categories-collapsible-text,
.categories-container p {
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size-large);
    color: var(--primary-font-color);
    padding-left: var(--primary-margin);
    /* Adjust as needed, assuming padding is universal */
}

.categories-collapsible-text {
    width: 50%;
    padding-top: 35px;
}

.close-icon {
    margin: 45px var(--primary-margin) 0 auto;
    height: 40px;
    transform-origin: center;
    transform: rotateY(0deg) rotate(45deg);
    /* Removed duplicate transform */
    transition: transform 1s ease-in-out;
    /* background-color: red; */
}

.close-icon.open {
    transform: rotateY(0deg) rotate(-180deg);
}

.collapsible-content,
.collapsible-content.open {
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
}