.gallery {
    border-bottom: var(--primary-line);
}

.galleryWrapper {
    height: calc(var(--primary-gallery-hight)/3);
    width: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: 0.75s ease;
    border: var(--primary-line);
}

.galleryImage {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
    object-fit: cover;
    object-position: center;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}