/* IntroTeam.css */
.team-container {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    box-sizing: border-box;
}

.team-member-card {
    height: calc(var(--primary-hight) * 7);
    width: 60%;
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    color: #fff;
    overflow: hidden;
    border-bottom: var(--primary-line);
    border-right: var(--primary-line);
}

.team-member-photo {
    height: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    border-radius: var(--primary-border-radius);
}

.team-member-info {
    width: 80%;
    text-align: left;
}

.team-member {
    margin-top: 20px;
    padding-top: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-large));
    color: var(--primary-font-color);

    /* background-color: blue; */
}

.team-member-position {
    margin-top: 10px;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-medium));
    color: var(--primary-font-color);
    /* background-color: pink; */

}

.team-member-email {
    margin-top: 10px;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-medium));
    color: var(--primary-font-color);
    /* background-color: purple; */

}

.team-member-bio {
    width: 100%;
    margin-top: 20px;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-medium));
    color: var(--primary-font-color);
    line-height: 1.5;
    /* background-color: orange; */
}