/* IntroDescription.css */
.intro-description {
    width: calc(100% - var(--primary-hight) * 2);
    padding-left: var(--primary-hight);
    padding-right: var(--primary-hight);
    
    height: calc(var(--primary-hight) * 7);
    display: flex;
    text-align: center;
    align-items: center;
    
    font-family: var(--primary-font);
    font-size: var(--primary-font-size-large);
    color: var(--primary-font-color);
    font-weight: var(--primary-font-weight-normal);
    font-style: normal;
    border-bottom: var(--primary-line);
    overflow: hidden;
  }
  
  @media (max-width: 850px) {
    .intro-description {
      width: calc(100% - var(--primary-hight));
      font-size: var(--primary-font-size-middle);
      padding-left: calc(var(--primary-hight) / 2);
      padding-right: calc(var(--primary-hight) / 2);
    }
}
