.menu-container {
    width: 100%;
    max-height: var(--primary-hight);
    background-color: var(--primary-bg-color);

    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    
}

.menu-gui-container {
    width: 100%;
    height: var(--primary-hight);
    background-color: none;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary-line);
    position: relative;
    z-index: 2000;    
    box-sizing: border-box;
}

@media (max-width: 850px) {
    .menu-gui-container {
        background-color: var(--primary-bg-color);
    }
}

.menu-list-container {
    width: calc(100% - calc(var(--primary-hight) + 250px));
    margin-left: 250px;
    height: var(--primary-hight);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-140px);
    
    background-color: none;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 2000;
    /* border-bottom: var(--primary-line); */
    box-sizing: border-box;
}

@media (max-width: 850px) {
    .menu-list-container {
        background-color: var(--primary-bg-color);
        height: calc(var(--primary-hight) * 5);
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        z-index: 1000;
        transform: translateY(calc(var(--primary-hight) * -5));
    }
}

.menu-list-container.open {
    transform: translateY(-70px);
    transition: transform 0.5s ease-in-out;
    
}
@media (max-width: 850px) {
    .menu-list-container.open {
        transform: translateX(0px);
    }
}

.gui-logo {
    width: 250px;
    height: var(--primary-hight);

    cursor: pointer;
}

.gui-button {
    width: var(--primary-hight);
    height: var(--primary-hight);
    background-color: #00f;

    cursor: pointer;
}

.list-button {
    display: flex;
    align-items: center;
    
    /* background-color: violet; */
    margin: 5px 10px 5px 10px;
    
    font-family: var(--primary-font);
    font-size: var(--primary-font-size-medium);
    color: var(--primary-font-color);
    font-weight: var(--primary-font-weight-normal);
    position: relative;
    z-index: 99999;    
    
    cursor: pointer;
}

@media (max-width: 850px) {
    .list-button {
        width: 100%;
        height: var(--primary-hight);
        justify-content: center;
        transform: translateX(0px);
        margin: 0px;
        font-size: var(--primary-font-size-large);
        border-bottom: var(--primary-line);
    }
}