.menu-container {
    width: 100%;
    max-height: var(--primary-hight);
    background-color: var(--primary-bg-color);

    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    
}

.menu-gui-container {
    width: 100%;
    height: var(--primary-hight);
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary-line);
    position: relative;
    z-index: 2000;    
    box-sizing: border-box;
    
    background-color: none;
}

@media (max-width: 850px) {
    .menu-gui-container {
        background-color: var(--primary-bg-color);
    }
}

.menu-list-container {
    width: calc(100% - calc(var(--primary-hight) + 250px));
    margin-left: 250px;
    height: var(--primary-hight);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-140px);
    
    background-color: none;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 2000;
    /* border-bottom: var(--primary-line); */
    box-sizing: border-box;
}


@media (max-width: 850px) {
    .menu-list-container {
        background-color: var(--primary-bg-color);
        height: calc(var(--primary-hight) * 5);
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        z-index: 1000;
        transform: translateY(calc(var(--primary-hight) * -5));
    }
}

.menu-list-container.open {
    transform: translateY(-70px);
    transition: transform 0.5s ease-in-out;
    
}
@media (max-width: 850px) {
    .menu-list-container.open {
        transform: translateX(0px);
    }
}

.gui-logo {
    width: 250px;
    margin-left: 11px;
    height: var(--primary-hight);
    cursor: pointer;
}

@media (max-width: 850px) {
    .gui-logo {
        margin-left: 0px;
    }
}

.gui-button {
    margin-right: 9px;
    width: var(--primary-hight);
    height: var(--primary-hight);

    cursor: pointer;
}

.list-button {
    display: flex;
    align-items: center;
    
    /* background-color: violet; */
    margin: 5px 20px 5px 20px;
    
    font-family: var(--primary-font);
    font-size: var(--primary-font-size-medium);
    color: var(--primary-font-color);
    font-weight: var(--primary-font-weight-normal);
    position: relative;
    z-index: 99999;    
    
    cursor: pointer;
}

@media (max-width: 920px) {
    .list-button {
        margin: 5px 14px 5px 14px;
    }
}

@media (max-width: 850px) {
    .list-button {
        width: 100%;
        height: var(--primary-hight);
        justify-content: center;
        transform: translateX(0px);
        margin: 0px;
        font-size: var(--primary-font-size-large);
        border-bottom: var(--primary-line);
    }
}


.menu-bar{
    width: 100%;
    height: 100%;
    /* background-color: var(--primary-bg-color); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    /* background-color: red; */
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: red; */
}

.bar-a{
    height: 4px;
    width: 100%;
    /* margin: 5px; */
    background-color: var(--primary-fg-color);
    transition: 0.5s ease-in-out;
}
.bar-a.open{
    margin: 0px;
    padding: 0px;
    transform: rotateY(0deg) rotate(45deg) translateY(6px) translateX(6px);
    transition: 0.5s ease-in-out;
}

.bar-b{
    height: 4px;
    width: 100%;
    background-color: var(--primary-fg-color);
    transition: 0.5s ease-in-out;
}

.bar-b.open{
    margin: 0px;
    padding: 0px;
    
    transform: rotateY(0deg) rotate(-45deg) translateY(-2.5px) translateX(2.5px);
    transition: 0.5s ease-in-out;
}

.bar-c{
    height: 4px;
    width: 100%;
    background-color: var(--primary-fg-color);
    transition: 0.25s ease-in-out;
}

.bar-c.open{
    height: 0px;
    transition: 0.25s ease-in-out;
}