/* ../styles/Menu.css */
.menu-container {
  height: var(--primary-hight);
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: var(--primary-line);
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: var(--primary-font-size-medium);
  color: var(--primary-font-color);
  font-weight: var(--primary-font-weight-normal);
  background-color: var(--primary-bg-color);

  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu-logo,
.menu-button {
  height: var(--primary-hight);
  position: absolute;
  cursor: pointer;
}

.menu-logo {
  left: 0;
  margin-left: 9px;
}

.menu-button {
  align-items: center;
  width: calc(var(--primary-hight) / 2);
  padding-right: calc(var(--primary-margin) - 5px);
  right: 0;
}

.menu-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: var(--primary-hight);
  margin-left: auto;
  margin-right: calc(var(--primary-margin) * 2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s visibility 0.3s;
}

.menu-options.show {
  opacity: 1;
  visibility: visible;
}

.option-button {
  display: flex;
  margin: 0 35px;
  cursor: pointer;

}

.vertical-line {
  height: 2px;
  width: 2px;
  background-color: #00f;
}