.project-trailer {
    width: 50%;
    height: auto;

    margin: 0px;
    padding: 0px;

    /* min-height: calc(70px * 7); */
    overflow: hidden;
    background-color: var(--primary-bg-color);

    outline: 1px solid #00f;
    outline-offset: 0px;
    
    display: flex;
    box-sizing: border-box;
}

iframe {

    background-color: var(--primary-bg-color);
    width: 100%;
    height: auto;
    min-height: calc(70px * 7);
}