.ProjectLaurelsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--primary-line);
}

.imageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    height: 100%;
}

.ProjectLaurelsImage {
    width: calc(var(--primary-hight) * 3);
    margin: 15px;
}


@media (max-width: 850px) {
    .ProjectLaurelsImage {
        width: calc(var(--primary-hight));
        margin: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.ProjectLaurelsImage:last-child {
    margin-right: 0;
}