/* src/components/ProjectPoster.css */
.projectPosterContainer {
    width: 30%;
    overflow: hidden;
    
    outline: var(--primary-outline);
    /* border: solid 5px #00f; */
    box-sizing: border-box;
    
    
}

.projectPosterImage {
    width: calc(100% - var(--primary-margin) * 2);
    height: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    box-sizing: border-box;
    
    transition: opacity 3.0s ease;
    background-color: var(--primary-bg-color);
    overflow: hidden;
    
    border-radius: var(--primary-border-radius);
    object-position: center;
    
}