/* ProjectHeader.css */
.project-header-wrapper {
    margin-top: calc(var(--primary-hight) + var(--primary-margin));
    width: 100%;
    border-bottom: var(--primary-line);
    
}


.project-header {
    height: calc(var(--primary-gallery-hight)/2);
    width: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    border-radius: var(--primary-border-radius);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--primary-line);
}


@media (max-width: 850px) {
    .project-header {
        height: calc(var(--primary-gallery-hight) / 4);
        
    }
}


.header-content {
    text-align: center;
    color: var(--primary-fg-color);
    /* Adjust text color as needed */
}

.Title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-large) * 2);
    color: var(--primary-white-color);
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-shadow: 0px 0px 55px black;
    /* padding: 50px; */
    
}

@media (max-width: 900px) {
    .Title {
        font-size: calc(var(--primary-font-size-medium) * 2);
        
    }
}


.SubTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-medium)*2);
    color: var(--primary-white-color);
    text-shadow: 0px 0px 55px black;
    
}
@media (max-width: 900px) {
    .SubTitle {
        font-size: calc(var(--primary-font-size-small) * 2);
        
    }
}

.Superscription {

    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-small)*2);
    color: var(--primary-white-color);
    text-shadow: 0px 0px 55px black;
    
}