/* src/components/ProjectPoster.css */
.projectPosterContainer {
    margin: 0px;
    padding: 0px;
    width: 30%;
    outline: var(--primary-outline);
    border-right: var(--primary-line);
    overflow: hidden;
    box-sizing: border-box;
}

@media (max-width: 850px) {
    .projectPosterContainer {
        width: 100%;
    }
}


.projectPosterImage {
    /* height: calc(100% - var(--primary-margin) * 2); */
    height: 700px;
    width: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    box-sizing: border-box;

    transition: opacity 3.0s ease;
    background-color: var(--primary-bg-color);
    overflow: hidden;

    border-radius: var(--primary-border-radius);
    object-position: center;

}