.project-trailer {
    all: unset;
    width: 100%;
    height: auto;

    margin: 0px;
    padding: 0px;

    /* min-height: calc(70px * 7); */
    /* overflow: hidden; */
    background-color: var(--primary-bg-color);

    outline: 1px solid #00f;

    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

@media (max-width: 940px) {
    .project-trailer {
        height: fit-content;
    }
}

.iframe-wrapper {
    width: 50%;
}

@media (max-width: 940px) {
    .iframe-wrapper {
        width: 100%;
    }
}

iframe {
    all: unset;
    background-color: var(--primary-bg-color);
    width: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    border-radius: 30px;
    border: 1px solid #00f;
    min-height: calc(550px - var(--primary-margin) * 2);
    box-shadow: var(--primary-shadow);

}