.synopsis-wrapper {
    width: 50%;
    border-bottom: var(--primary-line);
    background-color: var(--primary-bg-color);
    box-sizing: border-box;
}

.synopsis-information{
    padding-left: var(--primary-margin);
    box-sizing: border-box;
}