/* src/components/ProjectPoster.css */
.projectPosterContainer {
    width: 50%;
    height: auto;
    border-bottom: var(--primary-line);
    overflow: hidden;

    @media screen {
        /* height: auto; */
    }
}

.projectPosterImage {
    width: calc(100% - var(--primary-margin) * 2);
    height: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);

    transition: opacity 3.0s ease; /* Smooth transition for the fade effect */
    
    overflow: hidden;
    border-radius: var(--primary-border-radius);
    object-position: center; /* Center the image */

    @media screen {

    }
}