/* ProjectHeader.css */
.project-header-wrapper {
    margin-top: calc(var(--primary-hight) + var(--primary-margin));
    width: 100%;
    border-bottom: var(--primary-line);
    
}

.project-header {
    height: calc(var(--primary-gallery-hight));
    /* Reduced by 20px */
    width: calc(100% - var(--primary-margin) * 2);
    /* Reduced by 20px */
    margin: var(--primary-margin);
    border-radius: var(--primary-border-radius);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
    color: white;
    /* Adjust text color as needed */
}

.Title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-large) * 2);
    color: white;
    font-weight: 700;
    line-height: 1em;
    text-shadow: 0px 0px 15px black;

}

.SubTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-medium)*2);
    color: white;
    text-shadow: 0px 0px 15px black;
}

.Superscription {

    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-small)*2);
    color: white;
    text-shadow: 0px 0px 15px black;
}