.ProjectLaurelsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--primary-line);
}

.imageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
    height: 100%;
}

.ProjectLaurelsImage {
    width: calc(var(--primary-hight) * 3);
    /* object-fit: contain; */
    margin: 15px;
}



.ProjectLaurelsImage:last-child {
    margin-right: 0;
}