.synopsis-wrapper {
    width: 50%;
    background-color: var(--primary-bg-color);
    outline: var(--primary-outline);
    
    box-sizing: border-box;

}

.synopsis-information{
    padding-left: var(--primary-margin);
    padding-right: var(--primary-margin);
    box-sizing: border-box;
}