/* Project.module.css */
.projectContainer {
    height: var(--primary-hight);
    display: flex;
    font-family: var(--primary-font);
    font-size: var(--primary-font-size-medium);
    color: var(--primary-font-color);
    font-weight: var(--primary-font-weight-normal);
    position: relative;
    transition: 1s;
}

.projectContainer:hover {
    .dot {
        width: 15px;
        height: 15px;
        background-color: var(--primary-fg-color);
        border-radius: 30px;
        transform: translateX(5px);
        transition: 1s;
    }

}

.projectContainerDot {
    width: calc(var(--primary-margin));
    transform: translateX(-5px);
}

.projectContainerText {
    border-bottom: var(--primary-line);
    display: flex;
    align-items: center;
    justify-content: start;
    height: var(--primary-height);
    /* Ensure this is enough to accommodate the animation */
    width: 100%;
    background-color: var(--primary-bg-color);
    margin-left: auto;
    transition: .2s;

}

.projectContainerDot {
    width: var(--primary-margin);
    transform: translateX(-5px);
    display: flex;
    justify-content: center;
    /* Aligns horizontally center */
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 30px;
    transform: translateX(5px);
    transition: .2s;
}

.projectContainerText:hover {
    /* padding-left: 25px; */
    transition: .2s;
}

.id,
.title,
.categories {
    text-align: left;
    flex-grow: 1;
    /* Allow flexible growth to utilize available space */
}


.animationContainer {
    /* background-color: red; */
}

.id {
    max-width: 200px;
}

@media (max-width: 1200px) {
    .id {
        max-width: calc(17%);
    }
}

@media (max-width: 640px) {
    .id {
        max-width: 105px;
    }
}

.title {
    max-width: 400px;
}

.title {
    max-width: 33%;
}


.categories {
    max-width: calc(50%);
}

@media (max-width: 750px) {
    .title {
        max-width: 50%;
    }
}

@media (max-width: 650px) {
    .title {
        max-width: 50%;
    }
}

@media (max-width: 850px) {
    .categories {
        display: none;
    }
}