/* src/components/ProjectGallery.css */
.projectGalleryContainer {
    margin: 0px;
    padding: 0px;
    width: 70%;
    outline: var(--primary-outline);
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
}

@media (max-width: 850px) {
    .projectGalleryContainer {
        width: 100%;

    }
}


.projectGalleryImage {
    width: calc(100% - var(--primary-margin) * 2);
    margin: var(--primary-margin);
    border-radius: var(--primary-border-radius);
}

.slick-slider {
    display: flex;
    align-items: center;
    height: 100%;
}