/* src/components/Synopsis.css */

.synopsis {
    /* width: calc(100% - 40px); */
    width: calc(50% - 40px);
    padding: 20px;
    border-bottom: var(--primary-line);
    height: auto;
    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 15px;
        border-bottom: var(--primary-line);
    }
}

p {
    font-family: var(--primary-font);
    font-size: calc(var(--primary-font-size-small));
    color: var(--primary-font-color);
    line-height: 1.5em;
}